$primary_blue: #639aff;
$primary_white: #f6f5f5;
$primary_black: #333;
$primary_green: #086F6C;
$primary_yellow: #EDBF48;
$primary_orange: #F26440;
$primary_grey:#F8F7F1;

$secondary_blue: #3c5b84;

$poppins-font-family: "Poppins", sans-serif;

$ubuntu-font-family: "Ubuntu", sans-serif;

@mixin flex-row() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  color: $primary_black;
  // font-family: $poppins-font-family;
  font-family: $ubuntu-font-family;
  
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary_grey;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  .title {
    font-size: 2rem;
    color: $primary_green;
    font-weight: bold;
    span {
      color: $primary_orange;
    }
  }
  &.sticky {
    background-color: $primary_white;
    box-shadow: 0px -10px 10px 5px $primary_black;
    z-index: 100;
  }
  
  .menu-bar {
    color: $primary_green;
    font-weight: 600;
    font-size: 2rem;
    display: none;
    cursor: pointer;
    i {
      color: inherit;
    }
  }
}

ul.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  li {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: relative;
    a.menu-link {
      color: $primary_green;
      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: $primary_orange;
        bottom: -3px;
        left: 0;
        transition: ease 0.30s;       
      }
      &:hover {
        &::after {
          width: 100%;     
        }
      }
    }
  }
}

body {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

section#container {
   margin: 0 5%;
   padding: 1rem;
   scroll-snap-align: start;
   > section {
    &:not(:first-child) {
      margin-top: 2rem;
    } 
    min-height: 100vh;
    scroll-snap-align: center;
   }
}

section.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .details {
    flex-basis: 40%;
    padding-left: 4rem;
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    > div {
      margin-bottom: 1rem;     
    }
    .name {
      font-size: 4rem;
      font-weight: bold;
      color: $primary_green;
    }
    .sub-title {
      font-size: 2rem;
      font-weight: bold;
      color: $primary_green;
    }
  }
  div.image {
    flex-basis: 60%;
    .intro_img {
      width: 90%;
    }
  }  
}

section.about_me {
  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div.about-left {
      flex-basis: 55%;
      p {
        font-size: 1.4rem;
        letter-spacing: 2px;
        text-align: justify;
        line-height: 1.5;
        color: darken($color: $secondary_blue, $amount: 2);
      }
      ul.social-icons {        
        display:flex;
        margin:1rem 0;
        li {
          list-style: none;
          a {
            position: relative;
            width:60px;
            height:60px;
            display:block;
            text-align:center;
            margin:0 10px;
            border-radius: 50%;
            padding: 6px;
            box-sizing: border-box;
            text-decoration:none;
            box-shadow: 0 10px 15px rgba(0,0,0,0.3);
            background: linear-gradient(0deg, #ddd, #fff);
            transition: .5s;
            .fab {
              width: 100%;
              height:100%;
              display:block;
              background: linear-gradient(0deg, #fff, #ddd);
              border-radius: 50%;
              line-height: calc(60px - 12px);
              font-size:24px;
              color: $primary_green;
              transition: .5s;
            }            
            &:hover {
              box-shadow: 0 2px 5px rgba(0,0,0,0.3);
              text-decoration:none;
            }
          }
          &:nth-child(1) a:hover .fab {
            color: #343e53;
          }
          &:nth-child(2) a:hover .fab {
            color:  #007bb6;
          }
          &:nth-child(3) a:hover .fab {
            color: #3b5998;
          }
          &:nth-child(4) a:hover .fab {
            color: #00aced;
          }
          &:nth-child(5) a:hover .fab {
            color: #027452;
          }
        }
      }
    }
    div.about-right {
      margin-left: 1rem;
      img {
        height: 550px;
      }
    }
  }
}

section.skills {
  .tech-skills {    
    margin-top: 2rem;
    h3 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 1rem;
      color: $secondary_blue;
    }
  }

  .skill-set {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 3rem;
    .skill-item {
      display: flex;
      align-items: center;
      background-color: $primary_white;      
      box-shadow: 0 3px 10px RGB(0 0 0 / 0.2);      
      // box-shadow: 0 10px 15px rgba(0,0,0,0.3);
      transition: .5s;
      border-radius: 5px;
      padding: 1rem;
      height: 75px;
      position: relative;
      cursor: pointer;
      // box-shadow: RGB(45 45 45 / 5%) 0 2px 2px, RGB(49 49 49 / 5%) 0 4px 4px, RGB(42 42 42 / 5%) 0 8px 8px, RGB(32 32 32 / 5%) 0 16px 16px, RGB(49 49 49 / 5%) 0 32px 32px, RGB(35 35 35 / 5%) 0 64px 64px;
      > a, img {
        height: 50px;
        width: 50px;
        margin-right: 1rem ;
        &.info-img {
          position: absolute;
          right: 0;
        }
      }
      &:hover {        
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
      }
    }    
  }
}


/* Experience Styling */
section.experience {
  .experience-container {
    margin: 0 4rem;
    .timeline-container {
      position: relative;
      margin-bottom: 4rem;
      .time-line {
        &:before {
          content: "";          
          border: 1px solid $secondary_blue;
          background-color: $secondary_blue;
          position: absolute;
          height: 100%;
          width: 0.4rem;
          top: 0;
        }
        div.work {
          position: relative;
          margin-left: 5rem;
          margin-top: 3rem;
          // box-shadow: -10px 10px 35px -10px $primary_black;
          border-radius: 5px;
          width: 100%;
          .line {
            content: "";
            position: absolute;
            height: 100%;
            left: -3rem;
            &:before {
              content: "";
              position: absolute;
              height: 0.7rem;
              width: 0.7rem;
              border: 5px solid;
              border-radius: 50%;
              background-color: $primary_white;
              top: -1px;
              left: -38px;
            }
          }
          
          &:nth-child(even) {
            .line {
              &:before {
                border-color: $primary_orange;
              }
            }
            .period {
              span {
                font-size: 1rem;
                color: $primary_green;
              }
            }
          }
          &:nth-child(odd) {              
            .line {
              &:before {
                border-color: $primary_green;
              }
            }
            .period {
              span {
                font-size: 1rem;
                color: $primary_orange;
              }
            }
          }
          .period {
            span {
              font-size: 1rem;
            }
            &:before {
              content: '';
              position: absolute;
              top: 8px;
              left: -62px;
              height: 2px;
              border-top: 3px dashed #3c5b84;
              width: 3.5rem;
            }
          }
          .content {
            padding: 1rem;
            border: 1px solid $secondary_blue;
            border-radius: 5px;
            margin-top: 1rem;
          }
          .company {
            @include flex-row();
            justify-content: space-between;
            font-size: 1.4rem;
            font-weight: 500;
            .name {
              span{
                text-transform: uppercase;
                &:nth-child(1) {
                  letter-spacing: 1px;
                  color: $secondary_blue;
                  font-weight: bold;
                }
                &:nth-child(2) {
                  margin-left: 1rem;
                  font-size: 1rem;
                }
              }
            }
            .designation {
              font-size: 1rem;
              font-weight: 600;
              color: $secondary_blue;
              text-transform: uppercase;
            }
          }
          .exp-info {
            margin-top: 20px;
            .title {
              font-size: 1rem;
              font-weight: 500;
              margin: 10px 0;
            }
            .projects {
              text-align: justify;
              transition: .5s;
              .info, .client-info, .handson-info {
                display: none;
                padding: 1rem 3rem;
              }
              .handson-info ul li { list-style: disc; line-height: 1.5;}
              .title-accordion, .handson-accordion {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                padding: 0.5rem;
                box-shadow: 0px 1px 5px 0px #c3c3c3;
              }              
              .handson-accordion { margin-top: 1rem; }
              .title {
                font-weight: 600;
                text-transform: capitalize;
              }
              .sub-title {
                color: #5f5f5f;
                text-transform: uppercase;
                margin-right: 0.5rem;
              }
              .skills {
                margin: 15px 0;
                ul {
                  display: flex;
                  flex-wrap: wrap;
                  li {
                    margin-top: 1rem;
                    margin-left: 1rem;
                    border: 1px solid #3c5b84;
                    padding: 0.5rem;
                    border-radius: 5px;
                    background: #f6f5f5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

section.contact {
  .contact-container {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    .left,
    .right {
      width: calc(50% - 20px);
    }
    .heading {
      margin: 1rem 0;
      font-weight: 600;
      font-size: 1.4rem;
    }

    .left {
      .form-fields {
        @include flex-row();
        align-items: flex-start;
        flex-direction: column;
        input,
        textarea {
          outline: none;
          border: 1px solid $secondary_blue;
          background-color: $primary_grey;
          color: $primary_green;
          font-size: 1rem;
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 1.5rem;
          width: 100%;
        }
      }
    }
    #txt_email_msg {
      white-space: pre-line;
    }
  }
}

footer {
  padding: 0.5rem 0;
  width: 100%;
  text-align: end;
  background-color: $primary_green;
  span {
    margin-bottom: 10px;
    color: $primary_white;
  }
}


/* Global Styles */

.vg-btn {
  outline: none;
  padding: 1rem 1.5rem;
  color: $primary_black;
  border: 1px solid $primary_black;
  background: $primary_grey;
  border-radius: 5px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  i {
    color: inherit;
  }

  &.primary {
    border: 1px solid $primary_green;
    color: $primary_green;
    &:hover {
      background: $primary_green;
      color: $primary_grey;
    }
  }
}

.vg-link {
  color: $primary_blue;
  text-decoration: underline;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.section {
  &__header {
    span {
      position: relative;
      &.t1 {
        color: $primary_orange;
        font-size: 14px;
        display: inline-block;        
      }
    }
    h3 {
      font-size: 2rem;
      font-weight: bold;
      color: $primary_green;
      margin: 0.5rem 0;
      position: relative;
      &::after {
        content: '';
        height: 2px;
        background-color: $primary_orange;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 45px;
      }
    }
  }
}


::-webkit-scrollbar {
  width: 5px;
  background-color: $primary_grey;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary_blue;
  width: 10px;
  border-radius: 10px;
}

.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

// Media Queries



@media screen and (max-width: 1200px) {
  section.about_me {
    .about-container {
      div.about-left p {
        font-size: 1.3rem;
      }
      div.about-right {
        img {
          height: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {  
  section.intro {
    .details {
      flex-basis: 60%;
      padding-left: 1rem;
      .title {
        font-size: 1.3rem;
      }
      .name {
        font-size: 3rem;
      }
      .sub-title {
        font-size: 1.5rem;  
      }
    }
    div.image {
      flex-basis: 40%;
      .intro_img {
        width: 100%;
      }
    }  
  }

  section.about_me {
    .about-container {
      div.about-left p {
        font-size: 1.2rem;
      }
      div.about-right {
        img {
          height: 400px;
        }
      }
    }
  }
}


@media screen and (max-width: 840px) {
  section.about_me {
    .about-container {
      flex-wrap: wrap;
      div.about-left, div.about-right {
        flex: 1;
      }
      div.about-left {
        ul.social-icons { 
          justify-content: center;
        }
        .cv-div {
          display: flex;
          justify-content: center;
        }
      }

      
      div.about-right {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
      }
    }
  }
  
  section.skills {
    .skill-set {
      grid-template-columns: 1fr 1fr; 
    }
  }
  
  section.contact {
    .contact-container {
      .left {
        width: 100%;
        #post-msg {
          align-self: center;
        }
      }
    }
  }
}


@media screen and (max-width: 764px) {
  .navbar {
    .title {
      font-size: 1.5rem;
    }
    .menu-bar {
      display: block;
      margin-right: 1rem;
      z-index: 1000;
      i {
        &.active {
          &:before {
            content: "\f00d";
          }
        }
      }
    }
    .menu {
      position: fixed;
      height: auto;
      top: 70px;
      left: -100%;
      width: 100%;
      background-color: $primary_green;
      color: $primary_white;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 999;
      &.active {
        left: 0;
      }
      li {
        margin: 1rem;
        &:hover {
          background-color: $primary_white;          
          a.menu-link {
            color: $primary_green;
          }          
        }
        a.menu-link {
          color: $primary_white;
        }
      }
    }
  }
  
  section.about_me {
    .about-container {
      flex-wrap: wrap;
      div.about-left, div.about-right {
        flex: 1;
      }
      div.about-right {
        margin-left: 0;
      }
    }
  }
  
  section.skills {
    .skill-set {
      grid-template-columns: 1fr; 
    }
  }

  section.experience {
    .experience-container {
      margin-left: 1rem;
      .timeline-container {
        .time-line {
          div.work {
            margin-left: 3rem;
            .line {
              &:before {
                left: -6px;
              }
            }
            .period {
              &:before {
                left: -31px;
                width: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 576px) {
  .navbar {
    .title {
      font-size: 1.5rem;
    }
  }  
  section.intro {
    justify-content: center;
    .details {
      flex-basis: 100%;
    }
    div.image {
      display: none;
    }  
  }

  section.about_me {
    .about-container {
      display: block;
    }
  }  
  
  section.experience {
    .experience-container {
      .timeline-container {
        .time-line {
          div.work {
            .exp-info .projects .client-info {
                  padding: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {

  section.about_me {
    .about-container {
      div.about-left {
        ul.social-icons { 
          li {
            a {
              width:50px;
              height:50px;
              .fab {
                line-height: calc(60px - 20px);
                font-size:20px;
              }
            }
          }
        }
      }
    }
  }

}

