* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  color: #333;
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8F7F1;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .title {
  font-size: 2rem;
  color: #086F6C;
  font-weight: bold;
}

.navbar .title span {
  color: #F26440;
}

.navbar.sticky {
  background-color: #f6f5f5;
  box-shadow: 0px -10px 10px 5px #333;
  z-index: 100;
}

.navbar .menu-bar {
  color: #086F6C;
  font-weight: 600;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.navbar .menu-bar i {
  color: inherit;
}

ul.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

ul.menu li {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
}

ul.menu li a.menu-link {
  color: #086F6C;
}

ul.menu li a.menu-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #F26440;
  bottom: -3px;
  left: 0;
  transition: ease 0.30s;
}

ul.menu li a.menu-link:hover::after {
  width: 100%;
}

body {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

section#container {
  margin: 0 5%;
  padding: 1rem;
  scroll-snap-align: start;
}

section#container>section {
  min-height: 100vh;
  scroll-snap-align: center;
}

section#container>section:not(:first-child) {
  margin-top: 2rem;
}

section.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

section.intro .details {
  flex-basis: 40%;
  padding-left: 4rem;
}

section.intro .details .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

section.intro .details>div {
  margin-bottom: 1rem;
}

section.intro .details .name {
  font-size: 4rem;
  font-weight: bold;
  color: #086F6C;
}

section.intro .details .sub-title {
  font-size: 2rem;
  font-weight: bold;
  color: #086F6C;
}

section.intro div.image {
  flex-basis: 60%;
}

section.intro div.image .intro_img {
  width: 90%;
}

section.about_me .about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.about_me .about-container div.about-left {
  flex-basis: 55%;
}

section.about_me .about-container div.about-left p {
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: justify;
  line-height: 1.5;
  color: #39567d;
}

section.about_me .about-container div.about-left ul.social-icons {
  display: flex;
  margin: 1rem 0;
}

section.about_me .about-container div.about-left ul.social-icons li {
  list-style: none;
}

section.about_me .about-container div.about-left ul.social-icons li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

section.about_me .about-container div.about-left ul.social-icons li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #086F6C;
  transition: .5s;
}

section.about_me .about-container div.about-left ul.social-icons li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

section.about_me .about-container div.about-left ul.social-icons li:nth-child(1) a:hover .fab {
  color: #343e53;
}

section.about_me .about-container div.about-left ul.social-icons li:nth-child(2) a:hover .fab {
  color: #007bb6;
}

section.about_me .about-container div.about-left ul.social-icons li:nth-child(3) a:hover .fab {
  color: #3b5998;
}

section.about_me .about-container div.about-left ul.social-icons li:nth-child(4) a:hover .fab {
  color: #00aced;
}

section.about_me .about-container div.about-left ul.social-icons li:nth-child(5) a:hover .fab {
  color: #027452;
}

section.about_me .about-container div.about-right {
  margin-left: 1rem;
}

section.about_me .about-container div.about-right img {
  height: 550px;
}

section.skills .tech-skills {
  margin-top: 2rem;
}

section.skills .tech-skills h3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  color: #3c5b84;
}

section.skills .skill-set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
  row-gap: 3rem;
}

section.skills .skill-set .skill-item {
  display: flex;
  align-items: center;
  background-color: #f6f5f5;
  box-shadow: 0 3px 10px RGB(0 0 0/0.2);
  transition: .5s;
  border-radius: 5px;
  padding: 1rem;
  height: 75px;
  position: relative;
  cursor: pointer;
}

section.skills .skill-set .skill-item>a,
section.skills .skill-set .skill-item img {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
}

section.skills .skill-set .skill-item>a.info-img,
section.skills .skill-set .skill-item img.info-img {
  position: absolute;
  right: 0;
}

section.skills .skill-set .skill-item:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Experience Styling */
section.experience .experience-container {
  margin: 0 4rem;
}

section.experience .experience-container .timeline-container {
  position: relative;
  margin-bottom: 4rem;
}

section.experience .experience-container .timeline-container .time-line:before {
  content: "";
  border: 1px solid #3c5b84;
  background-color: #3c5b84;
  position: absolute;
  height: 100%;
  width: 0.4rem;
  top: 0;
}

section.experience .experience-container .timeline-container .time-line div.work {
  position: relative;
  margin-left: 5rem;
  margin-top: 3rem;
  border-radius: 5px;
  width: 100%;
}

section.experience .experience-container .timeline-container .time-line div.work .line {
  content: "";
  position: absolute;
  height: 100%;
  left: -3rem;
}

section.experience .experience-container .timeline-container .time-line div.work .line:before {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  border: 5px solid;
  border-radius: 50%;
  background-color: #f6f5f5;
  top: -1px;
  left: -38px;
}

section.experience .experience-container .timeline-container .time-line div.work:nth-child(even) .line:before {
  border-color: #F26440;
}

section.experience .experience-container .timeline-container .time-line div.work:nth-child(even) .period span {
  font-size: 1rem;
  color: #086F6C;
}

section.experience .experience-container .timeline-container .time-line div.work:nth-child(odd) .line:before {
  border-color: #086F6C;
}

section.experience .experience-container .timeline-container .time-line div.work:nth-child(odd) .period span {
  font-size: 1rem;
  color: #F26440;
}

section.experience .experience-container .timeline-container .time-line div.work .period span {
  font-size: 1rem;
}

section.experience .experience-container .timeline-container .time-line div.work .period:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -62px;
  height: 2px;
  border-top: 3px dashed #3c5b84;
  width: 3.5rem;
}

section.experience .experience-container .timeline-container .time-line div.work .content {
  padding: 1rem;
  border: 1px solid #3c5b84;
  border-radius: 5px;
  margin-top: 1rem;
}

section.experience .experience-container .timeline-container .time-line div.work .company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
}

section.experience .experience-container .timeline-container .time-line div.work .company .name span {
  text-transform: uppercase;
}

section.experience .experience-container .timeline-container .time-line div.work .company .name span:nth-child(1) {
  letter-spacing: 1px;
  color: #3c5b84;
  font-weight: bold;
}

section.experience .experience-container .timeline-container .time-line div.work .company .name span:nth-child(2) {
  margin-left: 1rem;
  font-size: 1rem;
}

section.experience .experience-container .timeline-container .time-line div.work .company .designation {
  font-size: 1rem;
  font-weight: 600;
  color: #3c5b84;
  text-transform: uppercase;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info {
  margin-top: 20px;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .title {
  font-size: 1rem;
  font-weight: 500;
  margin: 10px 0;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects {
  text-align: justify;
  transition: .5s;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .info,
section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .client-info,
section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .handson-info {
  display: none;
  padding: 1rem 3rem;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .handson-info ul li {
  list-style: disc;
  line-height: 1.5;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .title-accordion,
section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .handson-accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  box-shadow: 0px 1px 5px 0px #c3c3c3;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .handson-accordion {
  margin-top: 1rem;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .title {
  font-weight: 600;
  text-transform: capitalize;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .sub-title {
  color: #5f5f5f;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .skills {
  margin: 15px 0;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .skills ul {
  display: flex;
  flex-wrap: wrap;
}

section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .skills ul li {
  margin-top: 1rem;
  margin-left: 1rem;
  border: 1px solid #3c5b84;
  padding: 0.5rem;
  border-radius: 5px;
  background: #f6f5f5;
}

section.contact .contact-container {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

section.contact .contact-container .left,
section.contact .contact-container .right {
  width: calc(50% - 20px);
}

section.contact .contact-container .heading {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 1.4rem;
}

section.contact .contact-container .left .form-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

section.contact .contact-container .left .form-fields input,
section.contact .contact-container .left .form-fields textarea {
  outline: none;
  border: 1px solid #3c5b84;
  background-color: #F8F7F1;
  color: #086F6C;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  width: 100%;
}

section.contact .contact-container #txt_email_msg {
  white-space: pre-line;
}

/* Global Styles */
.vg-btn {
  outline: none;
  padding: 1rem 1.5rem;
  color: #333;
  border: 1px solid #333;
  background: #F8F7F1;
  border-radius: 5px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}

.vg-btn i {
  color: inherit;
}

.vg-btn.primary {
  border: 1px solid #086F6C;
  color: #086F6C;
}

.vg-btn.primary:hover {
  background: #086F6C;
  color: #F8F7F1;
}

.vg-link {
  color: #639aff;
  text-decoration: underline;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.section__header span {
  position: relative;
}

.section__header span.t1 {
  color: #F26440;
  font-size: 14px;
  display: inline-block;
}

.section__header h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #086F6C;
  margin: 0.5rem 0;
  position: relative;
}

.section__header h3::after {
  content: '';
  height: 2px;
  background-color: #F26440;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 45px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F8F7F1;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3c5b84;
  width: 10px;
  border-radius: 10px;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  section.about_me .about-container div.about-left p {
    font-size: 1.3rem;
  }

  section.about_me .about-container div.about-right img {
    height: 500px;
  }
}

@media screen and (max-width: 992px) {
  section.intro .details {
    flex-basis: 60%;
    padding-left: 1rem;
  }

  section.intro .details .title {
    font-size: 1.3rem;
  }

  section.intro .details .name {
    font-size: 3rem;
  }

  section.intro .details .sub-title {
    font-size: 1.5rem;
  }

  section.intro div.image {
    flex-basis: 40%;
  }

  section.intro div.image .intro_img {
    width: 100%;
  }

  section.about_me .about-container div.about-left p {
    font-size: 1.2rem;
  }

  section.about_me .about-container div.about-right img {
    height: 400px;
  }
}

@media screen and (max-width: 840px) {
  section.about_me .about-container {
    flex-wrap: wrap;
  }

  section.about_me .about-container div.about-left,
  section.about_me .about-container div.about-right {
    flex: 1;
  }

  section.about_me .about-container div.about-left ul.social-icons {
    justify-content: center;
  }

  section.about_me .about-container div.about-left .cv-div {
    display: flex;
    justify-content: center;
  }

  section.about_me .about-container div.about-right {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
  }

  section.skills .skill-set {
    grid-template-columns: 1fr 1fr;
  }

  section.contact .contact-container .left {
    width: 100%;
  }

  section.contact .contact-container .left #post-msg {
    align-self: center;
  }
}

@media screen and (max-width: 764px) {
  .navbar .title {
    font-size: 1.5rem;
  }

  .navbar .menu-bar {
    display: block;
    margin-right: 1rem;
    z-index: 1000;
  }

  .navbar .menu-bar i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: auto;
    top: 70px;
    left: -100%;
    width: 100%;
    background-color: #086F6C;
    color: #f6f5f5;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    margin: 1rem;
  }

  .navbar .menu li:hover {
    background-color: #f6f5f5;
  }

  .navbar .menu li:hover a.menu-link {
    color: #086F6C;
  }

  .navbar .menu li a.menu-link {
    color: #f6f5f5;
  }

  section.about_me .about-container {
    flex-wrap: wrap;
  }

  section.about_me .about-container div.about-left,
  section.about_me .about-container div.about-right {
    flex: 1;
  }

  section.about_me .about-container div.about-right {
    margin-left: 0;
  }

  section.skills .skill-set {
    grid-template-columns: 1fr;
  }

  section.experience .experience-container {
    margin-left: 1rem;
  }

  section.experience .experience-container .timeline-container .time-line div.work {
    margin-left: 3rem;
  }

  section.experience .experience-container .timeline-container .time-line div.work .line:before {
    left: -6px;
  }

  section.experience .experience-container .timeline-container .time-line div.work .period:before {
    left: -31px;
    width: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .navbar .title {
    font-size: 1.5rem;
  }

  section.intro {
    justify-content: center;
  }

  section.intro .details {
    flex-basis: 100%;
  }

  section.intro div.image {
    display: none;
  }

  section.about_me .about-container {
    display: block;
  }

  section.experience .experience-container .timeline-container .time-line div.work .exp-info .projects .client-info {
    padding: 1rem;
  }
}

@media screen and (max-width: 500px) {
  section.about_me .about-container div.about-left ul.social-icons li a {
    width: 50px;
    height: 50px;
  }

  section.about_me .about-container div.about-left ul.social-icons li a .fab {
    line-height: calc(60px - 20px);
    font-size: 20px;
  }
}